
.add-profile-main header {
    margin: 10px;
}

.add-profile-text {
    width: 100%;
    border-bottom: 0.25px solid rgba(128, 128, 128, .4);
}

.add-profile-content {
    margin: 0 auto;
    padding-top: 10%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.add-profile-content h1 {
    font-size: 50px;
}

.add-profile-content p {
    color: gray;
    padding-top: 20px;
    padding-bottom: 20px;
}

.add-profile-middle {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.add-profile-middle img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.add-profile-input-container {
    position: relative;
    display: flex;
    max-width: 50%;
    justify-content: flex-start;
    align-items: center;
}

.profile-name-input {
    position: relative;
    outline: 0;
    width: 300px;
    height: 40px;
    background: gray;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 200;
    padding-left: 10px;
}

.add-profile-input-container label {
    position: absolute;
    pointer-events: none;
    color: white;
    font-size: 24px;
    font-weight: 200;
    line-height: 1;
    padding-left: 10px;
}

.add-profile-input-container:focus-within label, #profile-filled {
    display: none;
}

.add-profile-bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    border-top: 0.25px solid rgba(128, 128, 128, .4);
    margin-top: 15px;
}


.add-profile-btns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
}

.add-profile-bottom .profile-error {
    color: red;
    width: fit-content;
    height: 20px;
    text-align: center;
}





