

.profiles-home-btn img {
    padding-top: 20px;
    cursor: pointer;
    padding-left: 30px;
}

.edit-profile-text {
    width: 100%;
    border-bottom: 0.25px solid rgba(128, 128, 128, .4);
}

.edit-profile-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.edit-profile-content {
    margin: 0 auto;
    padding-top: 10%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.edit-profile-form {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.img-input-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.edit-profile-form img {
    width: 150px;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.edit-profile-form input {
    position: relative;
    outline: 0;
    width: 300px;
    height: 40px;
    background: gray;
    border: none;
    color: white;
    font-size: 24px;
    font-weight: 200;
    padding-left: 10px;
}

.edit-profile-bottom {
     display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    border-top: 0.25px solid rgba(128, 128, 128, .4);
    margin-top: 20px;
    padding-top: 10px;
}

.edit-profile-bottom .profile-error {
    color: red;
    width: fit-content;
    height: 20px;
    text-align: center;
    padding-top: 10px;
}

.edit-buttons-container {
     display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100px;
}

.save-btn {
    color: black;
    background: white;
    font-size: 24px;
    font-weight: 200;
    padding: 10px;
    width: max-content;
    cursor: pointer;
    margin-right: 20px;
}

.save-btn:hover {
    background: red;
    color: white;
}

.cancel-btn {
    color: gray;
    background: none;
    font-size: 24px;
    border: 1px solid gray;
    font-weight: 200;
    padding: 10px;
    width: max-content;
    cursor: pointer;
    margin-right: 20px;
}

.cancel-btn:hover {
    border: 1px solid white;
    color: white;
}
