.search-icon {
    cursor: pointer;
}

#search-bar-icon {
    cursor:auto;
    position: absolute;
    left: 5px;
}

.search-bar {
    z-index: 20;
    position: relative;
    background: black;
    width: 400px;
    height: 30px;
    border: 1px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-bar label {
    position: absolute;
    left: 40px;
    color: gray;
    opacity: 0.9;
    z-index: 0;
}

.search-input {
    background: none;
    border: none;
    width: 100%;
    height: 100%; 
    margin-left: 35px;  
    color: white;
    z-index: 1;
}

.search-input:focus-within {
    outline-width: 0;
    
}

.exit-hidden {
    display: none;
}

.exit-search {
    position: absolute;
    right: 10px;
    z-index: 1;
    cursor: pointer;
}

.search-main {
    width: 100%;
    height: 100vh;
   
}

.search-list {
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-right: 65px;
    margin-left: 65px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.search-list div {
    margin-bottom: 20px;
}

.search-title {
   font-size: 30px;
    font-weight: bold;
    margin-left: 50vh;
    margin-bottom: 20px;
    background: none;
    align-self: center;
}

.search-list-browse {
    width: 100%;
    height: 100%;
    position: relative;
    top: 150px;   
    z-index: 1;
}

#search-filled {
    display: none;
}




