.browse-header {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    width: 100%;
    background-image: 
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 100%);
}

.home-button {
    width: 10%;
}

.left-nav {
    margin-left: 30px;
    width: 60%;
    display: flex;
    justify-content: flex-start;

}

.left-nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.right-nav {
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 90px;
}

.right-nav img {
    width: 25px;
    height: 25px;
    margin-right: 20px;
    cursor: pointer;

}

.profiles-dropdown {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    height: 100px;
    
}

.dropdown-btn {
    margin-top: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.profiles-dropdown-content {
    height: fit-content;
    display: none;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
    border:  0.25px solid rgba(128, 128, 128, .4);
    font-size: 14px;
    
}

#profiles-avatar {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 10px;
}

#profiles-arrow {
    transition: transform .4s ease-in-out;
}

.profiles-dropdown-content p {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.profiles-dropdown-content p:hover {
    text-decoration: underline;
}

.profiles-dropdown:hover .profiles-dropdown-content {
    display: block;
}

.profiles-dropdown:hover #profiles-arrow {
    transform: rotate(180deg);
}