.genres-browse {
   
    width: 100%;
    height: 100%;
    position: absolute;
    top: 65vh;
    background-image: 
        linear-gradient(to top, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 100%);
}

.genres-browse h1{
    font-size: 30px;
    margin-left: 75px;
    margin-bottom: 100px;
}