.top-movie img {
    width: 100%;
    height: calc(width*9/16);
}

.top-movie h1 {
    width: 30%;
    position: relative;
    top: -50vh;
    font-size: 40px;
    font-weight: bold;
    color: red;
    margin-left: 75px;
}

.top-movie-btns {
    position: relative;
    top: -45vh;
    display: flex;
    margin-left: 75px;
}

.top-play {
    width: fit-content;
    height: 40px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.top-play:hover {
    filter: brightness(75%);
}

.top-info {
    width: fit-content;
    height: 40px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: gray;
    border-radius: 5px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}

.top-info:hover {
    filter: brightness(75%);
}

#top-sound-off {
    width: 30px;
    height: 30px;
    filter: brightness(90%);
    opacity: .85;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    z-index: 1;
    position: relative;
    bottom: 600px;
    display: flex;
    left: 1200px;
    cursor: pointer;
}

#top-sound-off:hover {
    filter: none;
}

#top-sound-off .hidden {
    opacity: 0;
}





