.my-list-container {
    width: 100%;
    height: 100vh;
}

.my-list-browse {
    width: 100%;
    height: 100%;
    position: relative;
    top: 150px;   
    z-index: 1;
}

.my-list-browse h1 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 65px;
    margin-bottom: 20px;
    background: none;
}

.my-list-list {
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin-right: 65px;
    margin-left: 65px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.my-list-list div {
    margin-bottom: 20px;
}