body {
    background: black;
}

.profiles-container {
    margin: 0 auto;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding-top: 10%;
}

.profiles-container h1 {
    font-size: 40px;
    margin-bottom: 50px;
}
.profiles-list {
    display: flex;
    justify-content: space-around;
}

.profiles-list img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
}

.profiles-home-btn img {
    padding-top: 20px;

}

.profiles-list li p {
    margin-top: 20px;
    color: gray;
}

#add-profile {
    color: gray;
    width: 150px;
    height: 150px;
    opacity: 80%;
}


