

#logo {
    height: 50px;
    width: auto;
}
.splash-main {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%),
        linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0) 50%),
        url('netflix_bg.jpeg');
    background-position: left;
    width: auto;
}


.splash-main {
    height: 700px;
    border-bottom: 10px solid rgb(66, 66, 66);
}

.splash-header, .login-header {
    height: 100px;
    display: flex;
    justify-content: space-between;
   
    // padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.btn, .signup-btn {
    text-decoration: none;
    color: white;
    background: red;
    padding: 10px;
    border-radius: 4px;
}



.signup-btn {
    width: 100%;
    
}

.signup-container {
    display: flex;
    width: 50%;
    margin: 0 auto;
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-text {
    color: white;
    text-align: center;
}

.signup-text h2 {
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 20px;
}

.signup-text > p {
    font-size: 24px;
    padding-bottom: 30px;
}

.signup-text p:last-child {
    font-size: 16px;
}

.signup-bar-form {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
}

.signup-bar-btn {
    color: white;
    font-size: 20px;
    background: red;
    padding: 10px;
    border-radius: 3px;
    width: 20%;
    height: 100%;
}

.email-input {
    height: 96%;
    width: 100%;
    border-radius: 3px;
    border: none;
    outline: 0;
    position: relative;
    color: black;
    padding-left: 15px;
    font-size: 14px;
    font-weight: bold;
}

.signup-input {
    border: 1px solid black;
    border-radius: 3px;
    width: 98%;
    height: 50px;
    margin-bottom: 10px;
}






.link-text {
    text-decoration: none;
    color: white;

}
 


.signup-main {
    color: black;
     height: 100vh;
    width: auto;

}

.signup-form-container {
    padding: 5%;
    color: black;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 50%;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 0 auto;
}

.signup-form-container h2 {
    font-size: 30px;
    margin-bottom: 15px;
}

.signup-form-container p {
    margin-bottom: 15px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}

.error-list {
    color: red;
    margin-top: 10px;
}


.input-container, .signup-input-container {
    position: relative;
    display: flex;
    width: 80%;
    justify-content: center;
}

.input-container label, .signup-input-container label {
    position: absolute;
    pointer-events: none;
    transform: translate(0, 24px) scale(1);
    transform-origin: top left;
    transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
    color: gray;
    font-size: 14px;
    line-height: 1;
    left: 16px;
}



.signup-input-container, .login-input-container {
    width: 100%
}

.input-container:focus-within label {
  transform: translate(0, 5px) scale(0.8);
}


.signup-input-container:focus-within label {
    transform: translate(0, 5px) scale(0.8);
}


.splash-footer {
    color: gray;
    background: black;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.splash-footer a {
    text-decoration: none;
    color: gray;
    margin-top: 10px;
}








